:root {
	--font-color-main: #555;
	--font-color-accent: rgb(36, 36, 36);
	/* --font-color-accent: #fff; */
	/* --font-color-main: rgb(189, 189, 189); */
	/* --font-color-main: #000; */
	/* --font-color-accent: rgb(59, 59, 59); */
	--body-bg-color: #ecf0f3;
	--accent-bg-color: rgb(184, 246, 248);
	/* --accent-bg-color: radial-gradient(
		circle,
		rgba(175, 220, 238, 1) 0%,
		rgba(161, 214, 243, 1) 100%
	); */

	/* --body-bg-color: linear-gradient(
		180deg,
		rgba(81, 164, 219, 1) 0%,
		rgba(115, 186, 225, 1) 100%
	);
	background-blend-mode: color-dodge, overlay, difference, normal; */
	--container-bg-color: #f9f9f9;

	/* --small-container-bg-color: linear-gradient(
		180deg,
		rgba(101, 174, 223, 1) 0%,
		rgba(110, 180, 224, 0.46803652968036524) 100%
	); */
	--wrapper-border-color: #4c6c7e2f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: var(--body-bg-color);
}

body {
	display: flex;
	flex-direction: column;

	font-family: 'Roboto', sans-serif;
	color: var(--font-color-main);
	font-weight: 600;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	margin: 1rem auto;
	padding: 0.25rem;
	max-width: 16rem;
}
.wrapper-box {
	width: 430px;
	height: 700px;
	border-radius: 40px;
	background-color: var(--body-bg-color);
	box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.container {
	display: flex;
	flex-direction: column;
	/* background-color: var(--container-bg-color); */
}

.top-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-top: 0.5rem; */
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.top-container input {
	border: none;
	outline: none;
	background: var(--body-bg-color);
	color: var(--font-color-main);
	/* padding: 10px 5px 10px 2.5px; */
	margin-bottom: 0.5rem;
	height: 1.5rem;
	width: 13rem;
	border-radius: 10px;
	box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #fff;
}
::placeholder {
	font-size: 10px;
	text-align: center;
}
/* .top-container #search-text {
	margin-bottom: 0.5rem;
	border-radius: 0;
} */

.top-container .city {
	font-size: 1.6rem;
	color: var(--font-color-accent);
	font-weight: 700;
	margin-top: 1rem;
}

.top-container .top-bottom {
	display: flex;
	justify-content: center;
	font-size: 1rem;
	margin-top: 0.25rem;
}

.middle-container {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	margin: 0 0.3rem;
	background: var(--accent-bg-color);
	border-radius: 8px;
	box-shadow: 3px 3px 8px #cbced1, -3px -3px 8px #fff;
}
.middle-container .current_icon-container {
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 1.7rem;
	letter-spacing: -0.1rem;
	color: var(--font-color-accent);
	margin-bottom: -1.1rem;
}
.middle-container .temp-container {
	display: flex;
	justify-content: start;
	margin-bottom: 2rem;
}
.middle-container .temp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 6rem;
	letter-spacing: -0.3rem;
	color: var(--font-color-accent);
}
.middle-container .high-low {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--font-color-main);
	font-size: 1.25rem;
	padding: 1.85rem 0 0 1.5rem;
}

.middle-container .hourly {
	display: flex;
	justify-content: space-evenly;

	padding: 0.5rem 0;
}
.middle-container .hourly-card {
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	text-align: center;
}

.bottom-container {
	display: flex;
	flex-direction: column;
	font-size: 0.5rem;
	padding: 0 0.3rem;
	margin-top: 2rem;
}
.bottom-container .bottom-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 0.5rem;
	row-gap: 0.5rem;
}
.bottom-container .detail-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	box-shadow: 3px 3px 8px #cbced1, -3px -3px 8px #fff;
}
.bottom-container .additional-detail {
	font-size: 0.75rem;
}
.bottom-container .detail-text {
	font-size: 0.9rem;
}
.bottom-container i {
	font-size: 1rem;
}

.detail-icon {
	padding: 0.8rem 0;
}
.additional-detail {
	padding-bottom: 4px;
}
.detail-text {
	padding-bottom: 0.8rem;
}

@media (min-width: 375px) {
	.wrapper {
		max-width: 21rem;
	}
	.top-container input {
		width: 17rem;
	}
}
